/* App.css */
/* App.css */
#heading {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #6b1b6b; /* Background color */
    color: #fff; /* Text color */
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
  }
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dab4e9, #1a69e0);
  }
  
  textarea,
  #preview {
    width: 45%;
    height: 60%;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #2c51e9, #dab4e9);
    color: #fff;
    box-shadow: 0 0 10px rgba(19, 37, 202);
  }
  
  textarea:focus,
  #preview:focus {
    outline: none;
    border-color: #5c98c7;
  }
  
  #preview {
    margin-left: 20px;
  }
  
  #preview img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  #preview h1 {
   
    font-size: 24px;
    margin-top: 0;
  }
  
  #preview h2 {
   
    font-size: 20px;
  }
  
  #preview p {
    line-height: 1.6;
    margin: 10px 0;
  }
  
  #preview a {
    color: #90caf9;
    text-decoration: none;
  }
  
  #preview pre {
    background-color: rgba(218, 180, 233, 0.5); /* Transparent purple */
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
  }
  #preview blockquote {
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(218, 180, 233, 0.5); /* Transparent purple */
    border-left: 5px solid rgba(204, 204, 204, 0.5); /* Fading left border */
    border-right: 5px solid rgba(204, 204, 204, 0.5); /* Fading right border */
    border-radius: 10px;
  }
  
  
  #preview strong {
    font-weight: bold;
  }
  
  #preview ul {
    padding-left: 20px;
  }
  
  #preview ul li {
    list-style-type: disc;
    margin-bottom: 5px;
  }
  